h1{
    color:red;
}
h2{
    color:red ; font-style: italic;
}
ol{
    color:brown; line-height: 1cm;
}
.cut{
    text-decoration: line-through;
}
ul{
    color:brown; letter-spacing: 0.1cm;

}
.highlight{
    background-color: yellow; font-weight: bolder;
}
p{
    color: blue;
}
a{
    text-decoration: none; background-color: yellow; font-style: italic; font-weight: 900;color: red;
}