
nav{
    margin-top: 40px;
    margin-left: 70px;
    border:5px solid grey;
    margin-left:10px;
    margin-right: 35px;
}
a{
    padding: 20px;
}





.one{
    border:5px solid grey;

    display: inline-block;
    width: 630px;
 padding: 50px;
    margin-top: 0px;
    position: relative;
   left:10px;
   margin-left: auto;
}
h2{
    text-align: center;
}
.two{

 border:5px solid grey;
    display: inline-block;
    width: 630px;
    padding: 50px;
}