.camel{
    height: 50px;
    width: 50px;
    margin-left: 60px;
    margin-top: 20px;
}
body{
background-image: url(media/background.jpg);
background-size: cover;
background-repeat: no-repeat;
margin: 0px;
}
nav{
    position: absolute;
  left:1100px;
  top:10px;
}
a{
    text-decoration: none;
    padding: 20px;
    color: white;
}
 .section{
    position: relative;
    top:240px;
    left: 60px;
    color: white;
}
.sahara{
    font-size: 50px;
    color: white;
    font-weight: 800;
    margin-top: 120px;
    margin-left: 60px;

}
.para{
    margin-left: 60px;
    margin-top: 60px;
    color: white;

}
button{
   
    width: 45px;
    height: 40px;
    margin-top:30px ;
    margin-left: 90px;
    border-radius: 10px;
}
.right{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
.images{
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 300px 300px;
    gap:30px;
    margin-top: 120px;
    
    
}

.media{
    border: 1px solid red;
    margin-right: 30px;

    }
    .media:hover{
        transition-duration:2s;
    transition-timing-function: ease;
    transform: translateY(-20px);

    }

.one{
    background-image: url(media/pic4.jpg);
    background-size: cover;
    padding-left: 15px;
    border-radius: 7px;
}
.two{
    background-image: url(media/pic6.jpg);
    background-size: cover;
    padding-left: 15px;
    border-radius: 7px;

}
.three{
    background-image: url(media/pic3.jpg);
    background-size: cover;
    padding-left: 15px;
    border-radius: 7px;

}
.four{
    background-image: url(media/pic5.jpg);
    background-size: cover;
    padding-left: 15px;
    border-radius: 7px;

}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media (320px <= width <= 768px){
    .flex{
        display: flex;
        flex-direction:column;
        justify-content: space-between;
    }  
    .images{
        display: grid;
        grid-template-columns: 250px;
        grid-template-rows: 300px 300px  300px 300px;
        gap:30px;
        margin-top: 120px;
        margin-left: 80px;
        
        
    } 
    nav{
        position: absolute;
      left:50px;
      top:10px;
    }
}
.button{
   
    width: 100px;
    height: 20px;
    margin-top:30px ;
    margin-left:40px;
    border-radius:7px;
    padding: 10px;
}
.camel{
    height: 30px;
    width: 30px;
    margin-left: 20px;
    margin-top: 10px;
}
.abc{
    height: 30px;
    width: 30px;
    margin-top: -30px;
    margin-left: 260px;
}